.page-header
  %h1 #{@user.full_name_with_title}
.row
  .col-md-12
    .row
      .col-md-12
        = @user.avatar_link
    .row
      .col-md-12
        %p
          Preferences:
          = @user.preference_names
    .row
      .col-md-12
        %p
          Description:
          = @user.description

    = link_to 'Edit', edit_user_path(@user), id: :edit_user_link, class: 'btn btn-sm btn-primary'
